<div class="jumbotron">
    <div class="media mt-3">
        <img src="<%= @question.gravatar %>" class="mr-3">
        <div class="media-body">
            <h5 class="mt-0 display-4"><%= @question.email %> asked:</h5>
            <p class="lead"><%= @question.body %></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-2">

            <button 
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#modalAnswer"
            >
                Submit new answer
            </button>

            <%= render 'home/new_answer_form' %>
            
            <% @question.answers.each do |answer| %>
            <div class="media mt-3">
                <img src="<%= @answer.gravatar %>" class="mr-3">
                <div class="media-body">
                    <h5 class="mt-0"><%= @answer.email %> asked:</h5>
                    <p><%= @answer.body%></p>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>

