<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">History of the Universe</a>
    <form class="form-inline">
        <button
        class="btn btn-success"
        type="button"
        data-toggle="modal"
        data-target="#modalAsk"
        >
        Ask Question
        </button>
    </form>
</nav>