<div id="modalAnswer" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">New Answer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <%= form_for :answer, url: '/answers' do %>
            <input type="hidden" name="answer[question_id]" value="<%= @question.id%>"/>
        <div class="modal-body">    
            <div class="form-group row">
                <label class="col-sm-4" for="inputEmail">Email address</label>
                <input type="email" class="form-control col-sm-8" id="inputEmail" name="answer[email]" aria-describedby="emailHelp" placeholder="Enter email" required>
            </div>
            <div class="form-group row">
                <label class="col-sm-4" for="textareaQuestion">Question</label>
                <textarea class="form-control col-sm-8" id="textareaQuestion" name="answer[body]" placeholder="What is your answer?" required></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <% end %>
    </div>
    </div>
</div>