<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-5">The universe is the totality of everything that exists, has existed, or ever will exist.</h1>
    <p>This Q&A site is dedicated to questions about the history of the universe.</p>
  </div>
</div>

<% 
  @questions.each do |q| 
  # https://via.placeholder.com/100
%>
  
<div class="media mt-4">
  <img src="<%= q.gravatar %>" class="mr-3">
  <div class="media-body">
    <h5 class="mt-0"><%= q.email %> asked:</h5>
    <span><%= time_ago_in_words q.created_at %> ago</span>
    <p><%= q.body %></p>
    <div class="d-flex flex-row-reverse">
      <a class="btn btn-info" href="<%= question_path(q) %>" role="button">View Answers</a>
    </div>
    <hr/>
  </div>
</div>
<% end %>